
<div class="row align-center mb-5">
  <div class="col-md-6 col-lg-10 card" data-postId={{post.id}}>
    <div class = "card-header bg-dark">
      <h4 class="small">{{post.title}}</h4>
      <h6>Posted by {{user.name}} on {{post.date_created}}</h6>
    </div>
    <p class="card-body">{{post.text}}</p>
  </div>
  {{#each comment as |comment| }}
    <div class="col-md-6 col-lg-10 card" data-commentId={{comment.id}}>
    <div class = "card-header bg-dark">
    </div>
    <p class="card-body">{{comment.text}}</p>
  </div>
  {{/each}}
</div>

