{{#each posts as |post| }}
<div class="row align-center mb-1">
  <div class="col-md-6 col-lg-10 card post" data-postId={{post.id}}>
    <div class = "card-header bg-dark">
      <a href = '/comments/{{post.id}}'><h4>{{post.title}}</h4></a>
      <h6>Posted by {{user.name}} on {{post.date_created}}</h6>
    </div>
    <p class="card-body">{{post.text}}</p>
  </div>
</div>
{{/each}}
